/* src/components/Footer.css */
.footer {
  background-color: #1e2127; /* Um tom um pouco mais escuro que o contato */
  color: #aaa;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}

.footer p {
  margin: 5px 0;
}